.orders-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.order-card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.empty {
  text-align: center;
  margin-top: 50px;
}
